# C++, CMake
/cpp/cmake-build-debug/
/cpp/tests/cmake-build-debug/
/cpp/tests/googletest/
/cpp/.DS_Store
.DS_Store
.idea/

# Cython
/cpp/cython/build/
/cpp/cython/cython_SVR.so
/cpp/cython/cython_SVR.cpp
/cpp/cython/cython_SVR.cpython-37m-darwin.so
/cpp/cython/.DS_Store
/cpp/cython/tests/__pycache__
/cpp/tests/build/
/cpp/tests/SVR_debug_code.cpp
/cpp/tests/benchmark/
/cpp/tests/bin/
