# C++, CMake
/cpp/cmake-build-debug/
/cpp/testing/cmake-build-debug/
/cpp/testing/googletest/
/cpp/.DS_Store
.DS_Store
.idea/

# Cython
/cpp/cython/build/
/cpp/cython/cython_SVR.so
/cpp/cython/cython_SVR.cpp
/cpp/cython/cython_SVR.cpython-37m-darwin.so
/cpp/cython/.DS_Store
/cpp/testing/build/
/cpp/testing/SVR_debug_code.cpp
/cpp/testing/benchmark/
